<div class="container">
      <img ng-src="{{main.event.imageUrl}}" alt="{{main.event.name}}">
      <div class="row">
        <div class="col-md-12">
           <h2> {{main.event.name | uppercase}}</h2>
        </div>
      </div>

      <div ng-bind-html="main.snippet">some title</div>
      <div ng-bind-html-unsafe="main.snippet">some title</div>

      <div class="row">
         <div class="col-md-3">
           <div><strong>Date: </strong>{{main.event.date}}</div>
           <div><strong>Time: </strong>{{main.event.time}}</div>
         </div>
         <div class="col-md-4">
           <address>
             <strong>Address: </strong><br/>
             {{main.event.location.address}}<br/>
             {{main.event.location.city}}, {{main.event.location.province}}
           </address>
         </div>
      </div>

      <hr/>

      <h3>Sessions</h3>
      Order by:
      <select ng-model="main.sortorder" class="input-small">
        <option selected value="name">Name</option>
        <option value="-upVoteCount">Votes</option>
      </select>

      <ul class="thumbnails list-unstyled">
        <li ng-repeat="session in main.event.sessions | orderBy: main.sortorder">
          
          <div class="row session">

            <div class="col-md-1 well votingWidget">
              <div class="votingButton" ng-click="main.upVoteSession(session)">
                <i class="glyphicon glyphicon-menu-up"></i>
              </div>
              <div class="badge">
                <div>{{session.upVoteCount}}</div>
              </div>
              <div class="votingButton" ng-click="main.downVoteSession(session)">
                <i class="glyphicon glyphicon-menu-down"></i>
              </div>
            </div>           

            <div class="well col-md-11">
              <h4 class="well-title">{{session.name}}</h4>
              <h6>{{session.creatorName}}</h6>
              <div>Duration: {{session.duration}}</div>
              <div>Location: {{session.location}}</div>
              <div>Level: {{session.level}}</div>
              <p>{{session.abstract}}</p>
            </div>
          </div>
          
        </li>
      </ul>
         
    </div>
